# Binaries
/bin/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test files
*.test
*.out
coverage.html

# Dependencies
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Generated code
generated.go
generated_*.go
generated_*.go

# elmouya
elmouya*
